<thymeleaf xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
           th:fragment="header" th:remove="tag">

    <title>Summarizer 53</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          modelType="text/css"/>
    <script modelType="application/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script modelType="application/javascript" async
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>
        body {
            background-color: black;
        }

        .navbar {
            height: 60px;
        }

        h1, h2, h3, h4, p {
            color: white;
            font-family: "Courier New", monospace;
        }

        a {
            font-family: "Courier New", monospace;
        }

        .btn {
            width: 190px !important;
        }
    </style>

</thymeleaf>