<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="header :: header"/>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top" th:fragment="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://academiadecodigo.org" target="_blank">
                <img alt="Brand" src="http://lisboa.academiadecodigo.org/logo.png" height="60px">
            </a>
        </div>
        <div class="nav-item pull-right">
            <p style="color: black; font-size: 40px;">&#35summarizer53</p>
        </div>
    </div>
</nav>

</body>
</html>